@import "src/@dare/scss/dare";

#menu {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .header {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 300;
      font-weight: bold;
    }
  }

  .menu-list {
    padding: 8px 0;
    max-height: none !important;

    .menu-list-item {
      min-width: 180px;
      min-height: 160px;
      width: 180px;
      height: 160px;
      padding: 24px 0;
      margin: 12px;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.12);
      transition: box-shadow 150ms ease-in;
      cursor: pointer;

      &:hover:not(.add-new-menu) {
        @include mat-elevation(8);
      }

      .menu-name {
        padding: 12px 32px 0 32px;
        font-weight: 200;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
      }

      .menu-category {
        padding: 4px 32px 0 32px;
        font-size: 10px;
        text-align: center;
        font-style: italic;
      }

      &.add-new-menu {
        background: rgba(0, 0, 0, 0.06);
        border: 2px dashed rgba(255, 255, 255, 0.37);
      }
    }
  }
}
