<div id="customers" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">


        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Customers
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                        <mat-icon>search</mat-icon>
                        <input matInput (keyup)="parentFilter($event.target.value)" placeholder="Filter"
                            autocomplete="off">
                    </div>
                </div>
            </div>

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/customers/add'"
                class="add-customer-button dare-white mt-24 mt-md-0">
                new
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->


        <!-- CONTENT CARD -->
        <div class="content-card">

            <app-customers-table [filter]="filterParent" [customers]="customers$ | async" (delete)="onDelete($event)" (edit)="onEdit($event)">
            </app-customers-table>

            <!-- LOADING-->
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; margin-top: 3em;">
                <mat-progress-spinner color="accent" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <!-- / LOADING-->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>