@import "src/@dare/scss/dare";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    dare-search-bar,
    .language-button {
        min-width: 48px;
        height: 48px;

        @include media-breakpoint('xs') {
            height: 48px;
        }
    }

    .navbar-toggle-button {
        min-width: 48px;
        height: 48px;
    }

    .username {
        font-size: smaller;
    }

    .toolbar-separator {
        height: 48px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 48px;
        }
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 48px;
    }
}
